body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff7ed;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    margin-top: 40px;
}

/* AUTH */
#auth {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px;
}

/* BUTTON */
button {
    background: #f97316;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #ea580c;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
}

/* FORM */
.form-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

/* TABLE */
.table-card {
    margin-top: 20px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

th {
    background: #f97316;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
}

tbody tr:hover {
    background: #fff1e6;
}