body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #8e2de2, #ff6a00);
    color: white;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
}

/* AUTH */
#auth {
    background: white;
    color: black;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px;
}

/* BUTTON */
button {
    background: #ff6a00;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #e65c00;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
}

/* FORM */
.form-card {
    background: rgba(255,255,255,0.2);
    padding: 15px;
    border-radius: 10px;
}

/* TABLE */
.table-card {
    margin-top: 20px;
    background: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 10px;
}

th {
    background: rgba(0,0,0,0.3);
}

td, th {
    padding: 10px;
    text-align: center;
}

tbody tr:hover {
    background: rgba(255,255,255,0.2);
}