body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
}

/* AUTH */
#auth {
    background: white;
    color: black;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 8px;
}

/* BUTTON */
button {
    background: #00c9a7;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #00a98f;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
}

/* CARDS */
.form-card, .table-card {
    background: rgba(255,255,255,0.15);
    padding: 15px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.table-card {
    margin-top: 20px;
}

/* TABLE */
th {
    background: rgba(0,0,0,0.3);
}

td, th {
    padding: 10px;
    text-align: center;
}

/* STATUS COLORS */
.paid {
    color: #00ffcc;
    font-weight: bold;
}

.pending {
    color: #ffcc00;
    font-weight: bold;
}