body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f3e8ff;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
}

/* AUTH */
#auth {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 8px;
}

/* BUTTON */
button {
    background: #9333ea;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #7e22ce;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
}

/* FORM */
.form-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

/* NOTE CARD */
.note {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.note h3 {
    margin: 0;
}

.actions button {
    margin: 5px;
}